coloraide==4.2.2; python_version < "3.10"
coloraide==8.12.1; python_version >= "3.10"
fonttools==4.57.0; python_version < "3.10"
fonttools==4.64.0; python_version >= "3.10"
pillow==11.3.0
pikepdf==9.2.1; python_version < "3.10"
pikepdf==10.12.0; python_version >= "3.10"
playwright==1.55.0
svgelements==1.9.6
